h1{
    color: #fff;
    background-color:#000000;
}

h2{
    color: rgb(255,255,255);
    background-color: #000;
}

h3{
    color: rgb(255,255,0);
    color: #ffff00;
}

h4{
    color: rgb(0,0,255);
    color: #0000ff;
}